/* Scoreboard and GameCard Styles */
.scoreboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  
  .game-card {
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure the child elements do not break the border-radius */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* A subtle shadow */
    transition: transform 0.2s; /* Smooth transform on hover */
    width: 300px; /* Fixed width, could be adjusted or made responsive */
  }
  
  .game-card:hover {
    transform: translateY(-5px); /* Lift card on hover */
  }
  
  .game-status {
    background-color: #f2f2f2; /* Light grey background */
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
  }
  
  .team-scoreboard {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    justify-content: space-between;
  }
  
  .awayTeamScoreboard {
    background-color: var(--away-color, #004085); /* Fallback color */
  }
  
  .homeTeamScoreboard {
    background-color: var(--home-color, #007bff); /* Fallback color */
  }
  
  .team-logo {
    width: 45px;
    height: 45px;
    margin-right: 0.5rem;
  }
  
  .team-name-score {
    flex-grow: 1;
  }
  
  .view-details-button {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  .view-details-button:hover {
    background-color: #0056b3;
  }
  